<<<<<<< HEAD
@font-face {
    font-family: 'Mayro';
    src: url(/Atenea/mayro-kart-retro/MayroKartRetro-Regular.ttf);
}

*{
    background-image: linear-gradient(to right, pink, indigo);
    
}

.container{
    font-family: 'Mayro',sans-serif;
    font-size: 2rem;
   

}
.letras {
    text-shadow: 2px 2px 5px red;
    text-align: center;
   
}

.button1{
    display: block;
    margin: 50px auto;
    padding: 10px 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100px;
    height: 60px;
    background: rgba(245, 13, 187, 0.753);
    transition: width  3s;
    text-align: center;
}
.button1:hover{
    color:black;
    background-color: rgba(245, 13, 187, 0.753);
    transition-duration: 0.4s;
    box-shadow: 3px 4px 9px black;
    width: 300px;
    text-align: center;
 
}

.foto1 {
    border-radius: 4rem;
    max-width: 300px;
    padding: 5px;
    transform: rotate(10deg);
    position: relative; /* Con esto podemos utilizar left, right*/
    transition: transform 0.8s ease;
}

.foto1:hover {
    box-shadow: 0 0 2px 5px rgba(0, 5, 7, 0.5);
    transform: rotate(30deg);
}

.foto2 {
    max-width: 500px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 20rem;
    right: 50px;
    transform: rotateZ(30deg);
    transition: transform 0.5s ease;
}

.foto2:hover {
    box-shadow: 0 0 2px 5px rgba(0, 5, 7, 0.5);
    transform: rotate(50deg);
}

.foto3 {
    max-width: 400px;
    border: 3px solid black;
    position: absolute;
    transform: rotate(25deg);
    transition: transform 0.5s ease;
    border-radius: 40%;
    left: 35rem;
}

.foto3:hover {
    transform: rotate(50deg);
    box-shadow: 0 0 2px 5px rgba(0, 5, 7, 0.5);
}


=======
@font-face {
    font-family: 'Mayro';
    src: url(/Atenea/mayro-kart-retro/MayroKartRetro-Regular.ttf);
}

*{
    background-image: linear-gradient(to right, pink, indigo);
    
}

.container{
    font-family: 'Mayro',sans-serif;
    font-size: 2rem;
   

}
.letras {
    text-shadow: 2px 2px 5px red;
    text-align: center;
   
}

.button1{
    display: block;
    margin: 50px auto;
    padding: 10px 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100px;
    height: 60px;
    background: rgba(245, 13, 187, 0.753);
    transition: width  3s;
    text-align: center;
}
.button1:hover{
    color:black;
    background-color: rgba(245, 13, 187, 0.753);
    transition-duration: 0.4s;
    box-shadow: 3px 4px 9px black;
    width: 300px;
    text-align: center;
 
}

.foto1 {
    border-radius: 4rem;
    max-width: 300px;
    padding: 5px;
    transform: rotate(10deg);
    position: relative; /* Con esto podemos utilizar left, right*/
    transition: transform 0.8s ease;
}

.foto1:hover {
    box-shadow: 0 0 2px 5px rgba(0, 5, 7, 0.5);
    transform: rotate(30deg);
}

.foto2 {
    max-width: 500px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 20rem;
    right: 50px;
    transform: rotateZ(30deg);
    transition: transform 0.5s ease;
}

.foto2:hover {
    box-shadow: 0 0 2px 5px rgba(0, 5, 7, 0.5);
    transform: rotate(50deg);
}

.foto3 {
    max-width: 400px;
    border: 3px solid black;
    position: absolute;
    transform: rotate(25deg);
    transition: transform 0.5s ease;
    border-radius: 40%;
    left: 35rem;
}

.foto3:hover {
    transform: rotate(50deg);
    box-shadow: 0 0 2px 5px rgba(0, 5, 7, 0.5);
}


>>>>>>> 651e694dbadce7ff45e2963fd1f619852e58a3b6
